*{
    box-sizing: border-box;
}

body{
    color: #333;
    background: #ffffff;
    line-height: 1.7;
    -webkit-text-size-adjust: 100%;
    font-family: "ヒラギノ角ゴ Pro W3";
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

header{
    background-color: #005BAC;
    position: fixed;
    width: 100%;
    z-index: 2;
}

h2{
    padding-top: 130px;
    position: relative;
}

h2::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -50px;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #2581e8;
    border-radius: 2px;
  }

.nav-link{
    margin-right: 15px;
    color: white;
}

.wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.intro-wrapper{
    text-align: center;
    padding-bottom: 100px;
}

.intro-head{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/about-ttl-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.intro-text{
    padding: 100px 0;
    line-height: 0.5;
    color: #888;
}

  .intro-image{
      margin: 0 auto;
  }

.map{
text-align: center;
background-color: #E6F3F4;
}

.event-wrapper{
    text-align: center;
    padding-bottom: 100px;
}

.event-head{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/event-ttl-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.event-image{
    padding-top: 150px;
}

.event-text{
    font-weight: bold;
    padding-top: 50px;
}
  .event-connpass a{
      text-decoration: none;
      display: inline-block;
      width: 260px;
      height: 50px;
      background-image: url('https://www.protosolution.co.jp/codebase/common/img/event-button-sp.png');
      background-repeat: no-repeat;
  }

  .event-connpass a:hover{
      background-position: bottom;
  }

.sns-wrapper{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/sns-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.sns-head{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/sns-ttl-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.sns-timeline{
    padding: 100px 0;
}

.report-wrapper{
    background-color: #E6F3F4;
    text-align: center;
}

.report-head{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/news-ttl-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.report-cards{
    padding: 100px 0;
}

.card{
    margin: 0 30px;
    text-align: left;
}

.calendar-wrapper{
    background-color: white;
    text-align: center;
}

.calendar-head{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/eventcalender-ttl-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.calendar{
    padding: 100px 0;
}

.service-wrapper{
    background-color: white;
}

.service-head{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/service-ttl-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.service-info{
    padding: 100px 0;
    text-align: left;
    line-height: 1;
}

.service-rule{
    text-align: left;
}

.service-image{
    float: left;
    padding-right: 30px;
}


.service-text p{
    font-size: 13px;
    opacity: 0.7;
    line-height: 1;
}

.service-attention{
    border: solid red 1px;
    text-align: center;
    margin: 30px 0;
}

.attention-text{
    display: inline-block;
    padding: 20px 0;
    text-align: left;
}

.voice-wrapper{
    background-color: #E6F3F4;
}

.voices-head{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/voice-ttl-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.voices{
    padding: 100px 0;
}

.voice-head img{
    float: left;
    padding-right: 30px;
}

.voice-head ul{
    list-style: none;
}

.voice-text{
    margin-top: 50px;
    color: #888888;
}

.sponsor-wrapper{
    background-color: white;
}

.sponsor-head{
    text-align: center;
}

.sponsor-text{
    text-align: center;
    padding: 100px 0;
    opacity: 0.7;
}

.silver-sponsor-title{
    text-align: center;
    position: relative;
}

.silver-sponsor-title::before{
    position: absolute;
    background-color: silver;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
}

.silver-sponsor-title h3{
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 0 10px;
}

.sponsor-image img{
    width: 100%;
}

.special-sponsor{
    padding: 100px 0;
}

.special-sponsor-title{
    text-align: center;
    position: relative;
}

.special-sponsor-title::before{
    position: absolute;
    background-color: #005BAC;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
}

.special-sponsor-title h3{
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 0 10px;
}

.access-wrapper{
    background-image: url('https://www.protosolution.co.jp/codebase/common/img/access-map-pc.png');
    overflow: hidden;
    height: 500px;
}

footer{
    background-color: #005BAC;
    text-align: center;
    color: white;
    height: auto;
    overflow: hidden;
}